#centered_small_icon, #green_line, #full_width_icon, #repeated_icon{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 150px;
}
#centered_small_icon{
    background-color: blue;
    background-image: url('');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}
#green_line{
    background-color: green;
    background-size: 20px;
    background-repeat: no-repeat;
}
#full_width_icon{
    background-color: red;
    background-image: url("");
}