nav{
    background-color: cadetblue;
    margin: 10px;
}

main{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    padding: 10px;
}

#first{
    display: flex;
    justify-content: space-between;
}

#second{
    display: flex;
    flex-direction: column-reverse;
}

#third{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

forth .button{
    background-color: chartreuse;
    margin: 10px;
    flex-grow: 1;
 }

forth{
    display: flex;
}

#forth .b2{

}

#forth .b3{

}