header{
    background-color: black;
    color: white;
    padding: 50px;
    margin-bottom: 20px;
}

a{
    color: white;
}
div{
    display: inline-flex;
    flex-direction: row;
}
p{
    padding-bottom: auto;
}