body{
    background-color: cornflowerblue;
    margin: 0px;
}
#clouds{
background-image: url("../images/clouds.png");
height: 80px;
width: 100%;
}
#base{
    background-image: url("../images/base.png");
    height: 14px;
    width: 100%;
    position: absolute;
    bottom: 0;

}
#mario{
    background-image: url("../images/mario.png");
    background-repeat: no-repeat;
    height: 113px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
@media (min-width: 600px) {
}