p{
    border: 1px solid black;
}
#figure1{
    background-color: #CFE8DC;
}

#figure2{
    background-color: coral;
}

#figure3{
    background-color: bisque;
}

@media (min-width: 600px) {
    #figure1 {
        font-size: 50px;
        font-weight: bold;
    }
    #figure3{
        padding: 100px;
    }
}
@media (max-width: 600px) {
    #figure2{
        display: none;
    }
}
